body{
    background-image: url(../img/fondo3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #3e3c3d;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Colores
    #F8B400 naranja mostaza
    #FEB139 naranja
    #f6ab55 naranja opaco
    #FFF56D amarillo pastel
    #F6F54D amarillo

*/

.principal{
    height: 620px;
    display: flex;
}
nav{
    width: 30%;
    height: 94%;
    padding: 10px;
}
.buscador{
    width: 68%;
    height: 94%;
    padding: 10px;
}

.regini{
    display: flex;
    justify-content: center;
    height: 620px;
}
.centrado{
    width: 450px;
    height: 435px;
    margin-top: 80px;
    padding: 20px;
    border: solid #F8B400;
    border-radius: 7px;
}
.centrador{
    width: 450px;
    height: 540px;
    margin-top: 15px;
    padding: 20px;
    border: solid #F8B400;
    border-radius: 7px;
}
.centradoadmin{
    width: 430px;
    height: 370px;
    margin-top: 110px;
    padding: 20px;
    border: solid #F8B400;
    border-radius: 7px;
}
.centradoNA{
    width: 450px;
    height: 460px;
    margin-top: 80px;
    padding: 20px;
    border: solid #F8B400;
    border-radius: 7px;
}

hr{
    background-color: #FFF56D;
}
input{
    height: 18px;
    border-radius: 5px;
    border-color: #FEB139;
    background-color: #FFF56D;
}
input:focus{
    background-color: #fff04cdd;
}
button{
    width: 150px;
    height: 35px;
    border-radius: 15px;
    background-color: #FFDE59;
    border-color: #FEB139;
    color: #3e3c3d;
    font-size: 22px;
    cursor: url(../img/tarritomiel.png), auto;
    /*cursor: url(../img/logobee.png);*/
}

#error{
    color: rgb(222, 24, 24);
}