body{
    background-image: url(../img/fondoindex.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #3e3c3d;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}

.encabezado{
    display: flex;
    justify-content: space-around;
}
.slogan{
    width: 45%;
}

.opciones{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.principal{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
}
nav{
    width: 100%;
    height: 245px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    border: solid #493939;
    background-color: #493939;
    border-radius: 5px;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #F8B400;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #3e3c3d;
}
h6{
    font-size: 24px;
}
p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
a{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(158, 155, 151);
    text-decoration: none;
}
a:hover{
    color: rgb(113, 104, 93);
    background-color: #F9FFA4;
    border-radius: 5px;
    text-decoration: none;
    cursor: url(../img/tarritomiel.png), auto;
}